<h1>SPAB</h1>
<form name="form" action="/" method="post">
	<h3><label for="positives">Positive set of SPARQL queries</label></h3>
	<textarea name="positives" id="positives" style="width: 100%; height:200px;" autofocus><!--POSITIVES--></textarea>
	
	<h3><label for="negatives">Negative set of SPARQL queries</label></h3>
	<textarea name="negatives" id="negatives" style="width: 100%; height:200px;"><!--NEGATIVES--></textarea>
	
	<h3><label for="lambda">Lambda</label></h3>
	<input name="lambda" id="lambda" type="text" value="<!--LAMBDA-->" />
	
	<h3><label for="iterations">Max. Iterations</label></h3>
	<input name="iterations" id="iterations" type="text" value="<!--ITERATIONNS-->" />
	
	<div>
	<input type="submit" />
	</div>
</form>