<h2>SPAB</h2>

<p>The following input parameters are needed:</p>

<ul>
	<li>SPARQL queries, which should be included into a generalized
		statement (positive set).</li>
	<li>SPARQL queries, which should not be included (negative set).</li>
</ul>

<p>
	<a href="/spab">SPAB demo</a>
</p>



<h2>Analyze benchmark results</h2>

<p>The following input parameters are needed:</p>

<ul>
	<li>SPARQL queries</li>
	<li>Benchmark results, including:
		<ul>
			<li>SPARQL query position (in the previously specified list)</li>
			<li>Triplestore ID</li>
			<li>Benchmark result (e.g. runtime or throughput)</li>
		</ul>
	</li>
</ul>
<p>
	<a href="/benchmark">Benchmark analysis demo</a>
</p>